target/
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
.settings/
.project
.classpath
.factorypath
bin/
build/
.nb-gradle/
nb-configuration.xml
nbactions.xml
nb-debug.log
.idea/
*.iml
*.iws
.vscode/
.DS_Store
